<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Cops Example</display-name>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>cops example realm</realm-name>
	</login-config>
	
	<servlet>
		<servlet-name>cops</servlet-name>
		<servlet-class>com.exedio.cops.example.ExampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cops</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<!-- don't know, why this is needed here,
		  copsResourceStatus.html protects itself
		  and this works for non-root servlets -->
	<security-role><role-name>manager</role-name></security-role>
	<security-constraint>
		<web-resource-collection><url-pattern>/copsResourceStatus.html</url-pattern></web-resource-collection>
		<auth-constraint><role-name>manager</role-name></auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>coloredTable</servlet-name>
		<servlet-class>com.exedio.cops.example.ColoredTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>coloredTable</servlet-name>
		<url-pattern>/coloredTable</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>files</servlet-name>
		<servlet-class>com.exedio.cops.FileServlet</servlet-class>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>files</servlet-name>
		<url-pattern>/files/*</url-pattern>
	</servlet-mapping>

	<!-- don't know, why this is needed here,
		  requestLimiter.html protects itself -->
	<security-role><role-name>manager</role-name></security-role>
	<security-constraint>
		<web-resource-collection><url-pattern>/copsRequestLimiterStatus.html</url-pattern></web-resource-collection>
		<auth-constraint><role-name>manager</role-name></auth-constraint>
	</security-constraint>

</web-app>
